vamtiger-social-media-icon,
figure,
figcaption,
svg
{
    margin: 0;
    padding: 0;
}

vamtiger-social-media-icon
{
    & [slot="vamtiger-social-media-icon"],
    & [slot="vamtiger-social-media-icon"] svg
    {
        width: 100%;
        height: 100%;
    }

    & [slot="vamtiger-social-media-icon"][data-instagram] svg
    {
        transform: scale(1.27) translateY(1px);
    }

    & [slot="vamtiger-social-media-icon"] svg > path
    {
        transition: fill 175ms linear;
    }
}